.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center; */
  
    /* grid-template-rows: masonry; */
  
    margin: 0 auto;
  }
  
  .grid-item {
    width: 230px;
    /* height: 200px;
    object-fit: cover; */
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: lightgray;
  }
  
a{
    text-decoration: none;
    cursor: pointer;
}

header nav{
  display: flex;
  justify-content: flex-start;
}

header nav div .box-logo{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.iconos {
  display: flex;
  justify-content: space-evenly;
}

.input-search {
  display: flex;
  flex-grow: 1;
  height: 3.8rem;
  border-radius: 100px;
  padding-left: 2rem;
  border: 0;
  background-color: #efefef;
  align-items: center;
}


.box-icon-1 {
  /* background-color: rgb(211, 191, 165); */
  width: 4rem;
  padding: 1rem;
  align-items: flex-end;
}

.box-icon-2 {
  /* background-color: rgb(215, 191, 235); */
  width: 4rem;
  padding: 1rem;
  align-items:center;
  justify-content: flex-end;
}

.box-icon-3 {
  /* background-color: rgb(143, 114, 76); */
  width: 4rem;
  padding: 1rem;
  align-items: flex-end;
  justify-items: center;
}

.box-icon-4 {
  /* background-color: rgb(174, 213, 224); */
  width: 4rem;
  padding: 1.1rem;
  align-items: flex-end;
}

.icon {
  justify-items: center;
}